USE [master]
GO
/****** Object:  Database [TiendasGo]    Script Date: 17/04/2026 11:58:06 p. m. ******/
CREATE DATABASE [TiendasGo]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TiendasGo_Primary', FILENAME = N'/var/opt/mssql/tiendasgo_db/Data_Primary/TiendasGo_Main.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB ), 
 FILEGROUP [USER_DATA] 
( NAME = N'TiendasGo_UserData', FILENAME = N'/var/opt/mssql/tiendasgo_db/Data_User/TiendasGo_Data.ndf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TiendasGo_Log', FILENAME = N'/var/opt/mssql/tiendasgo_db/Logs/TiendasGo_Log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TiendasGo].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TiendasGo]
GO
/****** Object:  Schema [auth]    Script Date: 17/04/2026 11:58:06 p. m. ******/
CREATE SCHEMA [auth]
GO
/****** Object:  Schema [catalog]    Script Date: 17/04/2026 11:58:06 p. m. ******/
CREATE SCHEMA [catalog]
GO
/****** Object:  Schema [purchases]    Script Date: 17/04/2026 11:58:06 p. m. ******/
CREATE SCHEMA [purchases]
GO
/****** Object:  Table [auth].[auditoria_config]    Script Date: 17/04/2026 11:58:06 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [auth].[auditoria_config](
	[id_auditoria] [int] IDENTITY(1,1) NOT NULL,
	[tipo_cambio] [varchar](50) NOT NULL,
	[id_registro] [bigint] NULL,
	[valor_anterior] [varchar](1000) NULL,
	[valor_nuevo] [varchar](1000) NULL,
	[usuario_id] [int] NULL,
	[fecha_cambio] [datetime] NULL,
	[motivo] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_auditoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [USER_DATA]
) ON [USER_DATA]
GO
/****** Object:  Table [auth].[config_empresa]    Script Date: 17/04/2026 11:58:07 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [auth].[config_empresa](
	[id_config] [int] IDENTITY(1,1) NOT NULL,
	[nombre_empresa] [varchar](100) NOT NULL,
	[ruc] [varchar](11) NULL,
	[moneda] [varchar](3) NULL,
	[ejercicio_fiscal] [int] NULL,
	[estado] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_config] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[ruc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [auth].[permisos]    Script Date: 17/04/2026 11:58:07 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [auth].[permisos](
	[id_permiso] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[codigo] [varchar](50) NOT NULL,
	[descripcion] [varchar](255) NULL,
	[modulo] [varchar](50) NOT NULL,
	[estado] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_permiso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [auth].[permisos_rol]    Script Date: 17/04/2026 11:58:07 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [auth].[permisos_rol](
	[id_permiso_rol] [int] IDENTITY(1,1) NOT NULL,
	[id_rol] [int] NOT NULL,
	[id_permiso] [int] NOT NULL,
	[fecha_asignacion] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_permiso_rol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [auth].[permisos_usuario]    Script Date: 17/04/2026 11:58:07 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [auth].[permisos_usuario](
	[id_permiso_usuario] [int] IDENTITY(1,1) NOT NULL,
	[id_usuario] [int] NOT NULL,
	[id_permiso] [int] NOT NULL,
	[tipo_permiso] [varchar](20) NOT NULL,
	[fecha_asignacion] [datetime] NULL,
	[asignado_por] [int] NULL,
	[motivo] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_permiso_usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [USER_DATA]
) ON [USER_DATA]
GO
/****** Object:  Table [auth].[roles]    Script Date: 17/04/2026 11:58:07 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [auth].[roles](
	[id_rol] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[descripcion] [varchar](255) NULL,
	[estado] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_rol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [auth].[sedes]    Script Date: 17/04/2026 11:58:07 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [auth].[sedes](
	[id_sede] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[email] [varchar](100) NOT NULL,
	[gerente_nombre] [varchar](100) NULL,
	[direccion] [varchar](255) NULL,
	[ubigeo] [char](6) NULL,
	[telefono] [varchar](20) NULL,
	[es_almacen_central] [bit] NULL,
	[estado] [bit] NULL,
	[horario_config] [varchar](500) NULL,
	[id_gerente] [int] NULL,
	[gerente_email] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_sede] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [USER_DATA]
) ON [USER_DATA]
GO
/****** Object:  Table [auth].[usuarios]    Script Date: 17/04/2026 11:58:07 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [auth].[usuarios](
	[id_usuario] [int] IDENTITY(1,1) NOT NULL,
	[id_rol] [int] NOT NULL,
	[id_sede] [int] NOT NULL,
	[email] [varchar](100) NOT NULL,
	[password_hash] [varchar](500) NOT NULL,
	[estado] [bit] NULL,
	[fecha_creacion] [datetime] NULL,
	[nombres] [varchar](100) NOT NULL,
	[apellidos] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [USER_DATA],
UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [USER_DATA]
) ON [USER_DATA]
GO
/****** Object:  Table [catalog].[categorias]    Script Date: 17/04/2026 11:58:07 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [catalog].[categorias](
	[id_categoria] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[prefijo] [char](3) NULL,
	[estado] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_categoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[prefijo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [catalog].[comisiones_config]    Script Date: 17/04/2026 11:58:07 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [catalog].[comisiones_config](
	[id_comision] [int] IDENTITY(1,1) NOT NULL,
	[id_sede] [int] NULL,
	[id_categoria] [int] NULL,
	[tipo_comision] [varchar](20) NOT NULL,
	[valor_base] [decimal](19, 4) NULL,
	[valor_porcentaje] [decimal](5, 2) NULL,
	[vigente_desde] [date] NOT NULL,
	[vigente_hasta] [date] NULL,
	[estado] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_comision] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [USER_DATA]
) ON [USER_DATA]
GO
/****** Object:  Table [catalog].[gastos_producto]    Script Date: 17/04/2026 11:58:07 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [catalog].[gastos_producto](
	[id_gasto] [int] IDENTITY(1,1) NOT NULL,
	[id_producto] [int] NOT NULL,
	[id_tipo_gasto] [int] NOT NULL,
	[valor_fijo] [decimal](19, 4) NULL,
	[valor_porcentaje] [decimal](5, 2) NULL,
	[vigente_desde] [date] NULL,
	[vigente_hasta] [date] NULL,
	[estado] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_gasto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [USER_DATA]
) ON [USER_DATA]
GO
/****** Object:  Table [catalog].[impuestos]    Script Date: 17/04/2026 11:58:07 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [catalog].[impuestos](
	[id_impuesto] [int] IDENTITY(1,1) NOT NULL,
	[id_config] [int] NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[codigo] [varchar](10) NULL,
	[porcentaje] [decimal](5, 2) NULL,
	[es_afecto] [bit] NULL,
	[vigente_desde] [date] NULL,
	[vigente_hasta] [date] NULL,
	[estado] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_impuesto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [catalog].[kardex]    Script Date: 17/04/2026 11:58:07 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [catalog].[kardex](
	[id_kardex] [bigint] IDENTITY(1,1) NOT NULL,
	[id_sede] [int] NOT NULL,
	[id_producto] [int] NOT NULL,
	[id_usuario] [int] NOT NULL,
	[tipo_movimiento] [varchar](20) NOT NULL,
	[cantidad] [decimal](19, 4) NOT NULL,
	[fecha_movimiento] [datetime] NULL,
	[documento_referencia] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_kardex] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [USER_DATA]
) ON [USER_DATA]
GO
/****** Object:  Table [catalog].[marcas]    Script Date: 17/04/2026 11:58:07 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [catalog].[marcas](
	[id_marca] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[codigo_marca] [char](3) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_marca] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[codigo_marca] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [catalog].[productos]    Script Date: 17/04/2026 11:58:07 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [catalog].[productos](
	[id_producto] [int] IDENTITY(1,1) NOT NULL,
	[id_subcategoria] [int] NOT NULL,
	[id_marca] [int] NOT NULL,
	[nombre_base] [varchar](100) NOT NULL,
	[variante] [varchar](50) NULL,
	[medida_valor] [varchar](10) NULL,
	[medida_unidad] [varchar](5) NULL,
	[sku] [varchar](50) NOT NULL,
	[precio_costo] [decimal](19, 4) NOT NULL,
	[precio_venta] [decimal](19, 4) NOT NULL,
	[imagen_url] [varchar](255) NULL,
	[estado] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_producto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [USER_DATA],
UNIQUE NONCLUSTERED 
(
	[sku] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [USER_DATA]
) ON [USER_DATA]
GO
/****** Object:  Table [catalog].[stock_sede]    Script Date: 17/04/2026 11:58:07 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [catalog].[stock_sede](
	[id_stock] [int] IDENTITY(1,1) NOT NULL,
	[id_sede] [int] NOT NULL,
	[id_producto] [int] NOT NULL,
	[stock_actual] [decimal](19, 4) NULL,
	[stock_minimo] [decimal](19, 4) NULL,
	[stock_maximo] [decimal](19, 4) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_stock] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [USER_DATA],
 CONSTRAINT [UQ_Sede_Producto] UNIQUE NONCLUSTERED 
(
	[id_sede] ASC,
	[id_producto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [USER_DATA]
) ON [USER_DATA]
GO
/****** Object:  Table [catalog].[subcategorias]    Script Date: 17/04/2026 11:58:07 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [catalog].[subcategorias](
	[id_subcategoria] [int] IDENTITY(1,1) NOT NULL,
	[id_categoria] [int] NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[estado] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_subcategoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [catalog].[tipos_gasto]    Script Date: 17/04/2026 11:58:07 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [catalog].[tipos_gasto](
	[id_tipo_gasto] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[codigo] [varchar](10) NULL,
	[descripcion] [varchar](255) NULL,
	[estado] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_tipo_gasto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [purchases].[compras_detalle]    Script Date: 17/04/2026 11:58:07 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [purchases].[compras_detalle](
	[id_detalle] [int] IDENTITY(1,1) NOT NULL,
	[id_compra] [int] NOT NULL,
	[id_producto] [int] NOT NULL,
	[cantidad] [decimal](19, 4) NOT NULL,
	[precio_unitario_compra] [decimal](19, 4) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_detalle] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [USER_DATA]
) ON [USER_DATA]
GO
/****** Object:  Table [purchases].[compras_encabezado]    Script Date: 17/04/2026 11:58:07 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [purchases].[compras_encabezado](
	[id_compra] [int] IDENTITY(1,1) NOT NULL,
	[id_proveedor] [int] NOT NULL,
	[id_sede_destino] [int] NOT NULL,
	[id_usuario] [int] NOT NULL,
	[fecha_compra] [datetime] NULL,
	[nro_factura] [varchar](50) NULL,
	[total_compra] [decimal](19, 4) NOT NULL,
	[estado] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_compra] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [USER_DATA],
UNIQUE NONCLUSTERED 
(
	[nro_factura] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [USER_DATA]
) ON [USER_DATA]
GO
/****** Object:  Table [purchases].[proveedores]    Script Date: 17/04/2026 11:58:07 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [purchases].[proveedores](
	[id_proveedor] [int] IDENTITY(1,1) NOT NULL,
	[ruc] [varchar](11) NULL,
	[razon_social] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_proveedor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[ruc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_Sedes_IdGerente]    Script Date: 17/04/2026 11:58:07 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_Sedes_IdGerente] ON [auth].[sedes]
(
	[id_gerente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [USER_DATA]
GO
/****** Object:  Index [IX_Usuarios_IdRol]    Script Date: 17/04/2026 11:58:07 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_Usuarios_IdRol] ON [auth].[usuarios]
(
	[id_rol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [USER_DATA]
GO
/****** Object:  Index [IX_Usuarios_IdSede]    Script Date: 17/04/2026 11:58:07 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_Usuarios_IdSede] ON [auth].[usuarios]
(
	[id_sede] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [USER_DATA]
GO
/****** Object:  Index [IX_Kardex_Sede_Producto]    Script Date: 17/04/2026 11:58:07 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_Kardex_Sede_Producto] ON [catalog].[kardex]
(
	[id_sede] ASC,
	[id_producto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [USER_DATA]
GO
/****** Object:  Index [IX_Stock_IdSede]    Script Date: 17/04/2026 11:58:07 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_Stock_IdSede] ON [catalog].[stock_sede]
(
	[id_sede] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [USER_DATA]
GO
/****** Object:  Index [IX_ComprasDetalle_IdCompra]    Script Date: 17/04/2026 11:58:07 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_ComprasDetalle_IdCompra] ON [purchases].[compras_detalle]
(
	[id_compra] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [USER_DATA]
GO
ALTER TABLE [auth].[auditoria_config] ADD  DEFAULT (getdate()) FOR [fecha_cambio]
GO
ALTER TABLE [auth].[config_empresa] ADD  DEFAULT ('PEN') FOR [moneda]
GO
ALTER TABLE [auth].[config_empresa] ADD  DEFAULT ((1)) FOR [estado]
GO
ALTER TABLE [auth].[permisos] ADD  DEFAULT ((1)) FOR [estado]
GO
ALTER TABLE [auth].[permisos_rol] ADD  DEFAULT (getdate()) FOR [fecha_asignacion]
GO
ALTER TABLE [auth].[permisos_usuario] ADD  DEFAULT (getdate()) FOR [fecha_asignacion]
GO
ALTER TABLE [auth].[roles] ADD  DEFAULT ((1)) FOR [estado]
GO
ALTER TABLE [auth].[sedes] ADD  DEFAULT ((0)) FOR [es_almacen_central]
GO
ALTER TABLE [auth].[sedes] ADD  DEFAULT ((1)) FOR [estado]
GO
ALTER TABLE [auth].[usuarios] ADD  DEFAULT ((1)) FOR [estado]
GO
ALTER TABLE [auth].[usuarios] ADD  DEFAULT (getdate()) FOR [fecha_creacion]
GO
ALTER TABLE [catalog].[categorias] ADD  DEFAULT ((1)) FOR [estado]
GO
ALTER TABLE [catalog].[comisiones_config] ADD  DEFAULT ((1)) FOR [estado]
GO
ALTER TABLE [catalog].[gastos_producto] ADD  DEFAULT (CONVERT([date],getdate())) FOR [vigente_desde]
GO
ALTER TABLE [catalog].[gastos_producto] ADD  DEFAULT ((1)) FOR [estado]
GO
ALTER TABLE [catalog].[impuestos] ADD  DEFAULT ((18.00)) FOR [porcentaje]
GO
ALTER TABLE [catalog].[impuestos] ADD  DEFAULT ((1)) FOR [es_afecto]
GO
ALTER TABLE [catalog].[impuestos] ADD  DEFAULT ((1)) FOR [estado]
GO
ALTER TABLE [catalog].[kardex] ADD  DEFAULT (getdate()) FOR [fecha_movimiento]
GO
ALTER TABLE [catalog].[productos] ADD  DEFAULT ((1)) FOR [estado]
GO
ALTER TABLE [catalog].[stock_sede] ADD  DEFAULT ((0)) FOR [stock_actual]
GO
ALTER TABLE [catalog].[stock_sede] ADD  DEFAULT ((5)) FOR [stock_minimo]
GO
ALTER TABLE [catalog].[subcategorias] ADD  DEFAULT ((1)) FOR [estado]
GO
ALTER TABLE [catalog].[tipos_gasto] ADD  DEFAULT ((1)) FOR [estado]
GO
ALTER TABLE [purchases].[compras_encabezado] ADD  DEFAULT (getdate()) FOR [fecha_compra]
GO
ALTER TABLE [purchases].[compras_encabezado] ADD  DEFAULT ('PENDIENTE') FOR [estado]
GO
ALTER TABLE [auth].[auditoria_config]  WITH CHECK ADD FOREIGN KEY([usuario_id])
REFERENCES [auth].[usuarios] ([id_usuario])
GO
ALTER TABLE [auth].[permisos_rol]  WITH CHECK ADD FOREIGN KEY([id_permiso])
REFERENCES [auth].[permisos] ([id_permiso])
GO
ALTER TABLE [auth].[permisos_rol]  WITH CHECK ADD FOREIGN KEY([id_rol])
REFERENCES [auth].[roles] ([id_rol])
GO
ALTER TABLE [auth].[permisos_usuario]  WITH CHECK ADD FOREIGN KEY([asignado_por])
REFERENCES [auth].[usuarios] ([id_usuario])
GO
ALTER TABLE [auth].[permisos_usuario]  WITH CHECK ADD FOREIGN KEY([id_permiso])
REFERENCES [auth].[permisos] ([id_permiso])
GO
ALTER TABLE [auth].[permisos_usuario]  WITH CHECK ADD FOREIGN KEY([id_usuario])
REFERENCES [auth].[usuarios] ([id_usuario])
GO
ALTER TABLE [auth].[sedes]  WITH CHECK ADD  CONSTRAINT [FK_Sedes_Gerente] FOREIGN KEY([id_gerente])
REFERENCES [auth].[usuarios] ([id_usuario])
GO
ALTER TABLE [auth].[sedes] CHECK CONSTRAINT [FK_Sedes_Gerente]
GO
ALTER TABLE [auth].[usuarios]  WITH CHECK ADD FOREIGN KEY([id_rol])
REFERENCES [auth].[roles] ([id_rol])
GO
ALTER TABLE [auth].[usuarios]  WITH CHECK ADD FOREIGN KEY([id_sede])
REFERENCES [auth].[sedes] ([id_sede])
GO
ALTER TABLE [catalog].[comisiones_config]  WITH CHECK ADD FOREIGN KEY([id_categoria])
REFERENCES [catalog].[categorias] ([id_categoria])
GO
ALTER TABLE [catalog].[comisiones_config]  WITH CHECK ADD FOREIGN KEY([id_sede])
REFERENCES [auth].[sedes] ([id_sede])
GO
ALTER TABLE [catalog].[gastos_producto]  WITH CHECK ADD FOREIGN KEY([id_producto])
REFERENCES [catalog].[productos] ([id_producto])
GO
ALTER TABLE [catalog].[gastos_producto]  WITH CHECK ADD FOREIGN KEY([id_tipo_gasto])
REFERENCES [catalog].[tipos_gasto] ([id_tipo_gasto])
GO
ALTER TABLE [catalog].[impuestos]  WITH CHECK ADD FOREIGN KEY([id_config])
REFERENCES [auth].[config_empresa] ([id_config])
GO
ALTER TABLE [catalog].[kardex]  WITH CHECK ADD FOREIGN KEY([id_producto])
REFERENCES [catalog].[productos] ([id_producto])
GO
ALTER TABLE [catalog].[kardex]  WITH CHECK ADD FOREIGN KEY([id_sede])
REFERENCES [auth].[sedes] ([id_sede])
GO
ALTER TABLE [catalog].[kardex]  WITH CHECK ADD FOREIGN KEY([id_usuario])
REFERENCES [auth].[usuarios] ([id_usuario])
GO
ALTER TABLE [catalog].[productos]  WITH CHECK ADD FOREIGN KEY([id_marca])
REFERENCES [catalog].[marcas] ([id_marca])
GO
ALTER TABLE [catalog].[productos]  WITH CHECK ADD FOREIGN KEY([id_subcategoria])
REFERENCES [catalog].[subcategorias] ([id_subcategoria])
GO
ALTER TABLE [catalog].[stock_sede]  WITH CHECK ADD FOREIGN KEY([id_producto])
REFERENCES [catalog].[productos] ([id_producto])
GO
ALTER TABLE [catalog].[stock_sede]  WITH CHECK ADD FOREIGN KEY([id_sede])
REFERENCES [auth].[sedes] ([id_sede])
GO
ALTER TABLE [catalog].[subcategorias]  WITH CHECK ADD FOREIGN KEY([id_categoria])
REFERENCES [catalog].[categorias] ([id_categoria])
GO
ALTER TABLE [purchases].[compras_detalle]  WITH CHECK ADD FOREIGN KEY([id_compra])
REFERENCES [purchases].[compras_encabezado] ([id_compra])
GO
ALTER TABLE [purchases].[compras_detalle]  WITH CHECK ADD FOREIGN KEY([id_producto])
REFERENCES [catalog].[productos] ([id_producto])
GO
ALTER TABLE [purchases].[compras_encabezado]  WITH CHECK ADD FOREIGN KEY([id_proveedor])
REFERENCES [purchases].[proveedores] ([id_proveedor])
GO
ALTER TABLE [purchases].[compras_encabezado]  WITH CHECK ADD FOREIGN KEY([id_sede_destino])
REFERENCES [auth].[sedes] ([id_sede])
GO
ALTER TABLE [purchases].[compras_encabezado]  WITH CHECK ADD FOREIGN KEY([id_usuario])
REFERENCES [auth].[usuarios] ([id_usuario])
GO
USE [master]
GO
